.button{
    border: red solid 0px;
    width: 70%;
    max-width: 400px;
    min-height: 30px;
    height: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-color: red;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    padding: 5px;
}
.messages{
    margin: auto;
    padding: 0px;
    
}
.error{
    border: 1px solid;
    border-radius: 50px;
    margin: auto;
    padding: 5px;
    height: 40px;
    width: 90%;
    min-width: 330px;
    max-width: 500px;
    color: #D8000C;
    font-size: 16px;
    background-color: #FFBABA;
}
.logo {
    position: fixed;
    width: 100%;
    height: 20vh;
    max-height: 300px;
    bottom: -1px;
    color: black;
    font-style: normal;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin: 0;
}
.logoimage{
    width: 20vh;
    height: 20vh;
}
body { 
    background-image: url('../images/minimalist-ferrari2.png');
    background-position: center;
    background-size: cover;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 125vh;
    min-width: 400px;
    margin: 0%;
}
h1 {
    margin: 0;
    color: black;
    font-style: normal;
    font-size: 4vw ;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px
}

h2 {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin: 0%;
    padding: 1%;
}

form {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 20px;
    text-align: center;
    min-height: 200px;

    min-width: 100px;
    margin: 0%;
}
div {
    border: 1px;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 25px;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10vh auto 30vh auto;
    padding: 5vh 5vw;
    width: 70vw;
    min-height: 250px;

    min-width: 150px;
    max-width: 500px;
    text-align: center;
}
p {
    text-align: center;
    margin: 0%;
}
.title {
    text-align: center;
    font-size: 20px;
}
.left {
    margin-right: 10%;
}
.right {
    background-color: #f1f1f1;
    margin-top: 100px;
    margin-right: 0%;
    height: 100%;
    width: 100px;
    right: 0;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


label, input {
    height: 30px;
    min-width: 120px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
ul {
    margin: 0;
    padding: 5px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-size: 16px;
    list-style: none; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
    background-color:red;
}

li a {
    flex-basis: auto;

    display: block;
    color: #000;
    padding: 3vh 2vw;
    text-decoration: none;
    text-align: center;
    background-color: none
}

li a.active {
    font-weight: bold;
    background-color: whitesmoke;
}

li a:hover:not(.active) {

    background-color: rgb(249, 93, 32);
}

