.button{
    border: red solid 0px;
    width: 70%;
    max-width: 400px;
    min-height: 30px;
    height: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-color: red;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    padding: 5px;
}
.error{
    border: 1px solid;
    border-radius: 50px;
    margin: auto;
    padding: 5px;
    height: 40px;
    width: 90%;
    min-width: 330px;
    max-width: 500px;
    color: #D8000C;
    font-size: 16px;
    background-color: #FFBABA;
}
.logo {
    position: fixed;
    width: 100%;
    height: 20vh;
    max-height: 300px;
    bottom: -1px;
    color: black;
    cursor: pointer;
}
.button:hover, .button:focus{
    background-color: rgb(168, 0, 0);
}
.buttonsmall{
    border: whitesmoke solid 0px;
    width: 100px;
    height: 15px;
    border-radius: 25px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    font-variant: small-caps;
    padding: 2px;
    cursor: pointer;
}
.buttonsmall:hover, .buttonsmall:focus{
    background-color: lightgray;
}

.profile{
    border: 1px solid #000 ;
    border-radius: 50px;
}
.carimg{
    max-height: 100px;
    max-width: 100px;
}
body { 
    background-image: url('../images/minimalist-ferrari2.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 125vh;
    min-width: 400px;
    margin: 0%;
}
h1 {
    margin: 0;
    color: black;
    font-style: normal;
    font-size: 4vw ;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px
}


form {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 20px;
    text-align: center;
    min-height: 200px;
    min-width: fit-content;
    margin: 0%;
}
div {
    border: 1px;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 25px;
    background-color: whitesmoke;
    display: flexbox;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 10vh auto 30vh auto;
    padding: 5vh 5vw;
    width: 70vw;
    min-height: 250px;

    min-width: 150px;
    max-width: 500px;
    text-align: center;
}
p {
    text-align: center;
    margin: 0%;
}
div div {
    border: 1px;
    border-color:  rgb(249, 93, 32);
    border-style: solid;
    border-radius: 10px;
    background-color:  rgb(249, 93, 32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    padding: 10px;
    width: 120px;
    height: fit-content;
    min-height: 150px;
    text-align: center;
}

label, input {
    height: 30px;
    min-width: 120px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
ul {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-size: 16px;
    list-style: none; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
    background-color:red;
}

li a {
    flex-basis: auto;
    flex-basis: content;
    width: 15.5vw;
    display: block;
    color: #000;
    padding: 3vh 2vw;
    text-decoration: none;
    text-align: center;
    background-color: none
}

li a.active {
    font-weight: bold;
    background-color: whitesmoke;
    border: whitesmoke solid 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

li a:hover:not(.active) {

    background-color: rgb(249, 93, 32);
}

#waiver {
    max-width: 85%;
    text-align: left;
    border: 0px whitesmoke solid;

    border-radius:10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

li a:hover:not(.active) {
    background-color: rgb(249, 93, 32);
}
p.inspection {
    text-align: left;
}
#id_goodWheels, #id_noWheelPlay, #id_goodHubCaps, #id_goodTires, #id_goodTireTreadDepth, #id_goodBreakPads, #id_noLooseBodyPanels, #id_goodNumbers, #id_goodFloorMats, #id_secureBTC, #id_goodBreakPedal, #id_noExcessPlayinSteering, #id_goodSeat, #id_goodSeatBelt, #id_goodMountedCamera, #id_goodBatteryandConnections, #id_goodAirIntakeandSecure, #id_goodThrottleCable, #id_goodFluidCaps, #id_noMajorLeaks, #id_emptyTrunk, #id_functionalExhaust {
    height: 10px;
    width: 10px;
    display: inline-block;
    align: right;
    cursor: pointer;
    margin: 0;
}
