h1 {
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    border-bottom: solid 3px rgb(138, 138, 138);
    text-align: center;
    background-color: rgb(221, 221, 221);
    margin: 0%;
}
body { 

    background-color: rgb(100,100,100);
    margin: 0%;
}

h2 {
    color: black;
    background-color: rgb(221, 221, 221);
    border-bottom: solid 3px  rgb(138, 138, 138);

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0%;
}

form {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0%;

}
div {
    border: 1%;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 5px;
    margin: 10%;
}
p {
    text-align: center;
}

label, input {
    height: 30px;
    min-width: 120px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
