
.button{
    color: black;
    margin: 10px;
    border: 1px  darkred solid;
    border-radius: 30px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    height: 5%;
}
.error{
    border: 1px solid;
    margin: 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 460px;
    color: #D8000C;
    background-color: #FFBABA;
}
.logo {
    position: fixed;
    width: 100%;
    bottom: -1px;
    color: black;
    font-style: normal;
    text-align: center;
    margin: 0%;
}
body { 
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('../../static/images/red_racing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}
h1 {
    color: black;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    background-color: whitesmoke;
    margin: 0%;
    padding: 20px
}

h2 {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 40px;
    margin: 0%;
    padding: 10px;
}

form {
    background-color: whitesmoke;
    font-size: 20px;
    text-align:center;
    margin: 0%;
}
div {
    border: 20px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 30px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    width: 50%;
    text-align: center;
}
p {
    text-align: center;
    margin: 0%;
}


#id_username, #id_password{
    height: 40px;
    width: 80%;
    background-color: whitesmoke;
    min-width: 200px;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px grey solid;
    text-align: left;
    padding: 20px;
}

