.button{
    border: red solid 0px;
    width: 70%;
    max-width: 400px;
    min-height: 30px;
    height: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-color: red;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    padding: 5px;
    cursor: pointer;
}
.button:hover, .button:focus{
    background-color: darkred;
}
.messages{
    margin: auto;
    padding: 0px;
    
}
.error{
    border: 1px solid;
    border-radius: 50px;
    margin: auto;
    padding: 5px;
    height: 40px;
    width: 90%;
    min-width: 330px;
    max-width: 500px;
    color: #D8000C;
    font-size: 16px;
    background-color: #FFBABA;
}
.logo {
    position: fixed;
    width: 100%;
    height: 20vh;
    max-height: 300px;
    bottom: -1px;
    color: black;
    font-style: normal;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin: 0;
}
.logoimage{
    width: 20vh;
    height: 20vh;
}
body { 
    background-image: url('../images/minimalist-ferrari.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 125vh;
    min-width: 400px;
    margin: 0%;
}
h1 {

    color: black;
    font-style: normal;
    font-size: 4vw ;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 1%;
    padding: 20px
}

h2 {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin: 0%;
    padding: 1%;
}

form {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 20px;
    text-align: center;
    min-height: 200px;

    min-width: 100px;
    margin: 0%;
}
div {
    border: 1px;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 25px;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10vh auto 30vh auto;
    padding: 5vh 5vw;
    width: 70vw;
    min-height: 250px;

    min-width: 150px;
    max-width: 500px;
    text-align: center;
}
p {
    text-align: center;
    margin: 0%;
}

#id_username, #id_password, #id_confirm_pass, #id_email{
    height: 50px;

    min-width: 300px;
    width: 70%;
    max-width: 500px;
    margin: 1vh;
    background-color: lightgrey;
    border: lightgray solid 0px;
    border-radius: 25px;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    padding: 12.5px 25px;
}

