.button{
    border: lightgray solid 1px;
    width: 70%;
    max-width: 400px;
    min-height: 30px;
    height: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-color: lightgrey;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;
}
.button:hover, .button:focus{
    background-color: grey;
}

.button-small{
    border: lightgray solid 1px;
    min-width: fit-content;
    width:200px;
    height: fit-content;
    border-radius: 25px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;

    padding: 10px;
    cursor: pointer;
}
.button-small:hover, .button-small:focus{
    background-color: lightgray;
}

.car-img{
    max-height: 100px;
    max-width: 100px;
}
.ck-box{
    height: 20px;
    width: 20px;
    margin: 10px;
    
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
  }
  
.div-head{
    padding-bottom:10px;
    border-bottom: 1px lightgray solid;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.div-lvl1{
    border: 1px;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 25px;
    background-color: whitesmoke;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 10vh auto 30vh auto;
    padding: 5vh 5vw;
    width: 90vw;
    min-height: 250px;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
}

.div-lvl2{
    border: 1px;
    border-color:  lightgray;
    border-style: solid;
    border-radius: 10px;
    background-color:  white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px auto;
    padding: 10px;
    width: 90%;
    height: fit-content;
    text-align: left;
}



.error{
    border: 1px solid;
    border-radius: 50px;
    margin: 10px auto;
    padding: 10px;
    height: fit-content;
    width: 70%;
    min-width: 330px;
    max-width: 400px;
    color: #D8000C;
    font-size: 16px;
    text-align: center;
    background-color: #FFBABA;
}

.home-background{
    background-image: url('../images/minimalist-ferrari2.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 125vh;
    min-width: 400px;
    margin: 0%;
}
.inspect-item{
    list-style: none;
    text-align: left;
    justify-content: space-evenly;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
}
.inspect-list{
    list-style: none;
    text-align: left;
    justify-content: left;
}

.inspect-notes{
    height: fit-content;
    width: 100%;
    min-height: 60px;
    min-width: 300px;
    text-align: left;
}

.inspect-item-text{
    width: fit-content;
    text-align: left;
    padding: 2px;
    margin: 0px;
}

.login-background{
    background-image: url('../images/minimalist-ferrari.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 125vh;
    min-width: 400px;
    margin: 0%;
}
.login-form{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    min-height: 200px;
    min-width: fit-content;
    margin: 0%;
}

.logo {
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    height: 20vh;
    max-height: 300px;
    text-align: center;
    color: black;
    cursor: pointer;
    padding: 20px;
}

.logo-image{
    width: 20vh;
    height: 20vh;
    text-align: center;
    justify-self: center;
}

.messages{
    margin: auto;
    padding: 0px;
    
}

.nav-bar{
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-size: 16px;
    list-style: none; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: fit-content;
    background-color:red;
}

.nav-bar-item a{
    flex-basis: auto;
    width: 12.1vw;
    display: block;
    color: #000;
    padding: 3vh 2vw;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    background-color: none
}

.nav-bar-item a.active{
    font-weight: bold;
    background-color: whitesmoke;
    border: whitesmoke solid 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-bar-item a:hover:not(.active){
    background-color: rgb(249, 93, 32);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile{
    border: 1px solid #000 ;
    border-radius: 50px;
}

.success{
    border: 1px solid;
    border-radius: 50px;
    margin:  10px auto;
    padding: 10px;
    height: fit-content;
    width: 70%;
    max-width: 400px;
    color: #248b04;
    font-size: 16px;
    text-align: center;
    background-color: #98da84;
}

.title{
    min-width: 400px;
    margin: 0;
    color: black;
    font-style: normal;
    font-size: 4vw ;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px
}
.waiver-form{
    margin: 0%;
    text-align: center;
}


#content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#id_username, #id_password, #id_confirm_pass, #id_old_password, #id_old_confirm_pass, #id_email, #id_first_name, #id_last_name{
    height: 50px;

    min-width: fit-content;
    width: 50%;
    margin: 1vh;
    background-color: whitesmoke;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    padding: 12.5px 25px;
}

p #id_username,p #id_password,p #id_confirm_pass,p #id_email,p #id_first_name,p #id_last_name{
    height: 50px;

    min-width: 300px;
    width: 70%;
    max-width: 500px;
    margin: 1vh;
    background-color: lightgrey;
    border: lightgray solid 0px;
    border-radius: 25px;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    padding: 12.5px 25px;
}

input[type=checkbox]{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: red;
}

input[type=text], input[type=number], #id_vehicleType, #id_vehicleAvatar{
    padding: 5px;
    height: 30px;
    width: 40%;
    border: none;
    background-color: whitesmoke;
    flex-direction: row;
    flex-basis: content;
    justify-content: right;
}

#contains-notes{
    width: 100%;
    display: flexbox;
    justify-content: space-evenly;
}
#centered{
    text-align: center;
}
#div-car-image{
    margin: 20px;
    height: 200px;
    width: 200px;
    border: black 1px solid;
    border-radius: 200px;
    overflow: hidden;
    
    background-color: black;
}
#div-car-image img{
    background-color: #000;
    margin: -1% -50% ;
}
#id_waiverDate, #id_waiverName{

    background-color: lightgray;
}
#profile-image{
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    border: black 1px solid;
    border-radius: 200px;
    object-fit: cover;
}

#waiver {
    max-width: 85%;
    text-align: left;
    border: 1px whitesmoke solid;
    text-indent: 4em;
    border-radius:10px;

}
