{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/homepage.css' %}">
    <title>CCSCC</title>
    </head>
    <body>
      <h1>CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
      <div id = "banner">
        <img src = "{% static 'Banner.png'  %}" id = "banner"></img>
        </div>
        <!-- Top navigation -->
        <div class="topnav">

          <!-- Centered link -->
          <div class="topnav-centered">
            <a href="index.html" class="active">Home</a>
          </div>

          <!-- Left-aligned links (default) -->
          <a href="Inspections/inspections.html">Inspections</a>
          <a href="Waivers/waivers.html">Waivers</a>

          <!-- Right-aligned links -->
          <div class="topnav-right">
            <a href="Profile/profile.html">Profile</a>
            <a href="Schedule/schedule.html">Schedule</a>
          </div>
        </div>

        <div id = "content">

          <div id = "col2" class = "mid">
            <p>Champaign County Sports Car Club is a car club for drivers and car
            enthusiasts.  Club meetings on the first Wed. of the month at 7:30pm
             at Hickory River Smokehouse, 1706 N Cunningham Ave, Urbana.</p>
           </div>
        </div>
    </body>
  </html>
