{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign-in page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'pages/homepage.css' %}">
    </head>
    <body>
        
            

        <h1> CHAMPAIGN COUNTY SPORTS CAR CLUB
            <!--img src="{% static "images/header_1.png" %}"  alt="Header" height=100></img-->
        </h1>
        <ul>
            <li><a href="../home/">Home</a></li>
            <li><a href="/">News</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Profile</a></li>
            <li><a href="/">Settings</a></li>
            <li><a href="/">Waviers</a></li>
            <li><a href="/">Inspections</a></li>

        </ul>
        <div>
            <h2>Your at the home page!</h2>
           
            <p class="title">
                title
            </p>
            <table></table>
        </div>
        <h1 class="logo">
            <img src="{% static "images/logo.png" %}"  alt="CCSCC Logo" class="logoimage"></img>
        </h1>
    </body>
</html>
