
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Signup</title>
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    </head>
    <body class="login-background">
        <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
            <div class="div-lvl1">
                <h2 class="div-head">Member Sign up</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
                <form method="POST" enctype="multipart/form-data" class="login-form">
                    {% csrf_token %}
                    {% for field in form %}
                    <p> {{ field }} </p>

                    {% endfor %}
                    
                    <p><button type="submit" class="button">sign up</button></p>
                    <img src="{% static "images/logo.png"%}" class="logo-image"></img>
                </form>
            </div>
            {% if img_obj %}
                <p>Uploaded correctly</p>
                <img src="{{ img_obj.image.url }}" alt="connect">
            {% endif %}
            
    </body>
</html>
