{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Signin</title>
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    </head>
    <body class="login-background">
        <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
            <div class="div-lvl1">
                <h2 class="div-head">Member Login</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
                <form action="" method="POST" class="login-form">
                    {% csrf_token %}
                    {% for field in form %}
                    <p> {{ field }} </p>

                    {% endfor %}
                    
                    <p><input type="submit" value="login" class="button"></p>
                    <img src="{% static "images/logo.png"%}" class="logo-image"></img>
                </form>
            <a href="signup/">Signup here to create an account.</a>
            </div>   
            <h1 class="logo">
                
            </h1>
    </body>
</html>
