{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <!--img src = "{% static 'Banner.png'  %}" id = "banner"></img>
        <!-- Top navigation -->
        <ul class="nav-bar">
          <!-- Centered link -->
          <li class="nav-bar-item"><a href="/home/{{uuid}}/">Home</a></li>
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/">Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/">Profile</a></li>
          <li class="nav-bar-item"><a href="/cars/{{uuid}}/" class="active">Garage</a></li>
        </ul>
        <div class="div-lvl1">
          {% if garage_cars %}
          {% for car in garage_cars %}
            {{ car.VIN }}
            {{ car.vehicleYear }}
            {{ car.vehicleMake }}
            {{ car.vehicleModel }}
            {% if car.inspectionID %}
                <p> Valid car inspection active </p>
            {% endif %}
          {% endfor %} 
          {% endif %}
        </div>
    </body>
  </html>
