{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <!--img src = "{% static 'Banner.png'  %}" id = "banner"></img>
        <!-- Top navigation -->
        <ul class="nav-bar">
          <!-- Centered link -->
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/">Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/">Profile</a></li>
          <li class="nav-bar-item"><a href="/add_a_car/{{uuid}}/">Add Car</a></li>
          <li class="nav-bar-item"><a href="/garage/{{uuid}}/" class="active">Your Cars</a></li>
          <div class="dropdown">
            <button class="button-dropdown">T.I.</button>  
            <div class="dropdown-content">
              <a href="/manage_ti/{{uuid}}/">Manage</a>
              <a href="/reviews/{{uuid}}/">Reviews</a>
            </div>
          </div>
        </ul>
        <div class="div-lvl1">
          <p class="div-head">My Garage</p>
          {% if myZips %}
          {% for infoTuple in myZips %}
          <div class="div-lvl2">
            <p class="div-head">{{infoTuple.0.name}}</p>
            <table>
            <tr>
              <td>
                <div id="div-car-image">
                {% if infoTuple.0.vehicleAvatar %}
                  <img src="{{ infoTuple.0.vehicleAvatar.url }}" height="220px"/>
                {% else %}
                  <img src="../../static/images/logo.png">
                {% endif %}
                </div>
              </td>
              <td>                
                <p>VIN #:         {{ infoTuple.0.VIN }}</p>
                <p>Year Made:     {{ infoTuple.0.vehicleYear }}</p>
                <p>Vehicle Make:  {{ infoTuple.0.vehicleMake }}</p>
                <p>Vehicle Model: {{ infoTuple.0.vehicleModel }}</p>
                <p>Vehicle Type:  {{ infoTuple.0.vehicleType }}</p>
                {% if infoTuple.0.inspectionID and infoTuple.0.inspectionID.Verified == True  and infoTuple.1 < 1 %}
                  <p> Valid inspection on file </p>
                {% else %}
                  <p> Your inspection is either invalid or out of date. </p>
                {% endif %}
              </td>
            </tr>
            </table>
          </div>
          {% endfor %} 
          {% endif %}
        </div>
    </body>
  </html>
