{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <!--img src = "{% static 'Banner.png'  %}" id = "banner"></img>
        <!-- Top navigation -->
        <ul class="nav-bar">
          <!-- Centered link -->
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/">Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/">Profile</a></li>
          <li class="nav-bar-item"><a href="/add_a_car/{{uuid}}/">Add Car</a></li>
          <li class="nav-bar-item"><a href="/garage/{{uuid}}/" class="active">Your Cars</a></li>
        </ul>
        <div class="div-lvl1">
          {% if myZips %}
          {% for infoTuple in myZips %}
          <div class="div-lvl2">
            
          {% if infoTuple.0.inspectionID and infoTuple.0.inspectionID.Verified == True  and infoTuple.1 < 1 %}
            <p> Valid inspection on file </p>
          {% else %}
            <p> Your inspection is either invalid or out of date. </p>
           {% endif %}
            <p class="div-head">{{infoTuple.0.name}}</p>
            {{ infoTuple.0.VIN }}
            {{ infoTuple.0.vehicleYear }}
            {{ infoTuple.0.vehicleMake }}
            {{ infoTuple.0.vehicleModel }}
            {{ infoTuple.0.vehicleType }}
            <img src="{{ infoTuple.0.vehicleAvatar.url }}"/>
          </div>
          {% endfor %} 
          {% endif %}
        </div>
    </body>
  </html>
