{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <!--img src = "{% static 'Banner.png'  %}" id = "banner"></img-->
        <!-- Top navigation -->
        <ul class="nav-bar">

          <!-- Centered link -->
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/">Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/" class="active">Profile</a></li>
          <li class="nav-bar-item"><a href="/add_a_car/{{uuid}}/">Add Car</a></li>
          <li class="nav-bar-item"><a href="/garage/{{uuid}}/">Your Cars</a></li>
          <div class="dropdown">
            <button class="button-dropdown">T.I.</button>  
            <div class="dropdown-content">
              <a href="/manage_ti/{{uuid}}/">Manage</a>
              <a href="/reviews/{{uuid}}/">Reviews</a>
            </div>
          </div>
        </ul>

          <div class="div-lvl1">
            <p class="div-head">
              Profile
            </p>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="div-lvl2">
              <p class="div-head">Your Information</p>
              {% if profile_form %}
              <table>
                <tr>
                  {% if profile_image %}
                  
                    <td><div id="div-profile-image"><img src="{{ profile_image.url }}" width="200px"/></div></td>
                  {% endif %}
                    <td>
                      {{profile_form.username}}
                      {{profile_form.email}}
                      {{profile_form.first_name}}
                      {{profile_form.last_name}}
                    </td>
                </tr>
              </table>
              {% endif %}
              
            </div>
            <div class="div-lvl2" id="centered">
              <p class="div-head">Your Waivers</p>
            {% if valid_waiver %}
              <p id="centered">Your waiver is vaild!</p>
            {% else %} 
              <p id="centered">You do not have a valid waiver!</p>
            {% endif %}
            </div>
            <div class="div-lvl2" id="centered">
              <p class="div-head">Change password</p>
            <form method="POST">
            {% csrf_token %}
            {% if password_form %}
                {% for field in password_form %}
                {{ field }}
                {% endfor %}
            {% endif %}
            <br>
            <input type="submit" value="Change Password" class="button-small" >
            </form>
            </div>
           </div>
    </body>
  </html>
