{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <ul class="nav-bar">
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/" class="active">Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/">Profile</a></li>
          <li class="nav-bar-item"><a href="/add_a_car/{{uuid}}/">Add a Car</a></li>
          <li class="nav-bar-item"><a href="/garage/{{uuid}}/">Your Cars</a></li>
        </ul>
          <div class="div-lvl1">
              <form method="POST">
                  {% csrf_token %}
            {% if inspection_form %}
            <p class="div-head">
              {{ inspection_form.inspectionID }} Inspection
            </p>
            <p> {{inspection_form.UserVehicle }} </p>
            <div class="div-lvl2" id="checkboxes">
              <p class="div-head"> Exterior </p>
              <p class="inspect-item-text">{{ inspection_form.noWheelPlay }}        No play in the wheel bearings</p>
              <p class="inspect-item-text">{{ inspection_form.goodWheels }}        Wheels are tight and have no visible cracks</p>
              <p class="inspect-item-text">{{ inspection_form.goodHubCaps }}        Hubcaps or center caps removed or firmly secured</p>
              <p class="inspect-item-text">{{ inspection_form.goodTires }}        Tires are in good condition</p>
              <p class="inspect-item-text">{{ inspection_form.goodTireTreadDepth }}        Tire tread depth (as appropriate)</p>
              <p class="inspect-item-text">{{ inspection_form.goodBreakPads }}        Brake pads/rotors in good condition</p>
              <p class="inspect-item-text">{{ inspection_form.noLooseBodyPanels }}        No loose body panels</p>
              <p class="inspect-item-text">{{ inspection_form.goodNumbers }}        Numbers on & clearly visible on body</p>
            </div>
            <div class="div-lvl2" id="checkboxes">  
              <p class="div-head"> Interior </p>
              <p class="inspect-item-text">{{ inspection_form.goodFloorMats }} Floor mats and all other loose items removed from car</p>
              <p class="inspect-item-text">{{ inspection_form.secureBTC }} Brake, throttle, and clutch (if applicable) pedals secure</p>
              <p class="inspect-item-text">{{ inspection_form.goodBreakPedal }} No excessive play in the steering</p>
              <p class="inspect-item-text">{{ inspection_form.noExcessPlayinSteering }} No excessive play in the gear selector</p>
              <p class="inspect-item-text">{{ inspection_form.goodSeat }} Seat in functional order</p>
              <p class="inspect-item-text">{{ inspection_form.goodSeatBelt }} Seat Belt proper for year of car and class</p>
              <p class="inspect-item-text">{{ inspection_form.goodMountedCamera }} Camera, phones, and other gear mounted to car</p>
            </div>  
            <div class="div-lvl2" id="checkboxes">
              <p class="div-head"> Under the Hood and Trunk </p>
              <p class=inspect-item-text id="contains-notes">{{ inspection_form.goodBatteryandConnections }} Battery and connections secure {{ inspection_form.goodBatteryandConnectionsNotes }}</p>
              <p class=inspect-item-text id="contains-notes">{{ inspection_form.goodAirIntakeandSecure }} Air intake or air box secure {{ inspection_form.goodAirIntakeandSecureNotes }} </p>
              <p class=inspect-item-text id="contains-notes">{{ inspection_form.goodThrottleCable }} Throttle cable secure(if applicable) {{ inspection_form.goodThrottleCableNotes }} </p>
              <p class=inspect-item-text id="contains-notes">{{ inspection_form.goodFluidCaps }} All fluid caps secure {{ inspection_form.goodFluidCapsNotes }}</p>
              <p class=inspect-item-text id="contains-notes">{{ inspection_form.noMajorLeaks }}No major leaks apparent {{ inspection_form.noMajorLeaksNotes }}</p>
              <p class=inspect-item-text id="contains-notes">{{ inspection_form.emptyTrunk }}Trunk is empty of items that move around {{ inspection_form.emptyTrunkNotes }}</p>
              <p class=inspect-item-text id="contains-notes">{{ inspection_form.functionalExhaust }}Function exhaust system {{ inspection_form.functionalExhaustNotes }}</p>
            </div>
            <input type="submit" value="submit inspection" class="button">
              </form>
              {% endif %}
        </div>                                    
    </body>
  </html>
