{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <ul class="nav-bar">
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/" >Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/">Profile</a></li>
          <li class="nav-bar-item"><a href="/add_a_car/{{uuid}}/">Add Car</a></li>
          <li class="nav-bar-item"><a href="/garage/{{uuid}}/">Your Cars</a></li>
          <li class="nav-bar-item"><a href="/manage_ti/{{uuid}}/" class="active">T.I.</a></li>
        </ul>
        

          <div class="div-lvl1">
            <p class="div-head">Tech Inspectors</p>
            <ul class="messages">
              {% for message in messages %}                                                                                                                                             
              <p {% if message.tags %} class="{{ message.tags  }}"{% endif %}>{{ message  }}</p>
              {% endfor %}
            </ul>
              {% if add_form %}
                <div class="div-lvl2" id="centered">
                  <p class="div-head">Adding Tech Inspector</p>
                  <form action="/add_ti/{{uuid}}/" method="POST">
                      {% csrf_token %}
                      {{ add_form.username }}
                    <input type="submit" value="Add" class="button-small"> 
                  </form>
                </div>
              {% endif %}
              {% if delete_form %}
                <div class="div-lvl2" id="centered">
                  <p class="div-head">Removing Tech Inspector</p>
                  <form action="/delete_ti/{{uuid}}/" method="POST">
                      {% csrf_token %}
                      {{ delete_form.username }}
                    <input type="submit" value="Delete" class="button-small"> 
                  </form>
                </div>
              {% endif %}
        </div>                                    
    </body>
  </html>
