{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <ul class="nav-bar">
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/" class="active">Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/">Profile</a></li>
          <li class="nav-bar-item"><a href="/add_a_car/{{uuid}}/">Add Car</a></li>
          <li class="nav-bar-item"><a href="/garage/{{uuid}}/">Your Cars</a></li>
          <div class="dropdown">
            <button class="button-dropdown">T.I.</button>  
            <div class="dropdown-content">
              <a href="/manage_ti/{{uuid}}/">Manage</a>
              <a href="/reviews/{{uuid}}/">Reviews</a>
            </div>
          </div>
        </ul>
        

          <div class="div-lvl1">
            <p class="div-head">Find Cars by Username</p>
            <div class="div-lvl2" id="centered">
              <ul class="messages">
                {% for message in messages %}                                                                                                                                             
                <p {% if message.tags %} class="{{ message.tags  }}"{% endif %}>{{ message  }}</p>
                {% endfor %}
              </ul>
              {% if name_form %}
              <form action="/get_cars/{{uuid}}/" method="POST">
                    {% csrf_token %}
                  {{ name_form.username }}
                  <input type="submit" value="Search" class="button"> 
              </form >
            
              {% endif %}
            </div>
            {% if cars %}
            <div class="div-lvl2">
              <p class="div-head">Results</p>
              <table style="margin: 10px auto">
                {% for car in cars %}
                <tr> 
                  <td style="padding: 5px;">{{car.name}}</td> 
                  <td style="padding: 5px;"> VIN:{{car.VIN}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            {% endif %}
              <!--
              {% if add_form %}
              <form action="/add_ti/{{uuid}}/" method="POST">
                  {% csrf_token %}
                  {{ add_form.username }}
                 <input type="submit" value="Add Tech Inspector" class="button"> 
              </form>
              {% endif %}
              {% if delete_form %}
              <form action="/delete_ti/{{uuid}}/" method="POST">
                  {% csrf_token %}
                  {{ delete_form.username }}
                 <input type="submit" value="Delete Tech Inspector" class="button"> 
              </form> -->
              {% endif %}
        </div>                                    
    </body>
  </html>
