{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/website.css' %}">
    <title>CCSCC</title>
    </head>
    <body class="home-background">
      <h1 class="title">CHAMPAIGN COUNTY SPORTS CAR CLUB</h1>
        <ul class="nav-bar">
          <li class="nav-bar-item"><a href="/inspections/{{uuid}}/" class="active">Inspections</a></li>
          <li class="nav-bar-item"><a href="/waivers/{{uuid}}/">Waivers</a></li>
          <li class="nav-bar-item"><a href="/profile/{{uuid}}/">Profile</a></li>
          <li class="nav-bar-item"><a href="/add_a_car/{{uuid}}/">Add Car</a></li>
          <li class="nav-bar-item"><a href="/garage/{{uuid}}/">Your Cars</a></li>
        </ul>
        <ul class="messages">
            {% for message in messages %}                                                                                                                                             
            <p {% if message.tags %} class="{{ message.tags  }}"{% endif %}>{{ message  }}</p>
            {% endfor %}
        </ul>

          <div class="div-lvl1">
            {% if name_form %}
            <form action="/get_cars/{{uuid}}/" method="POST">
                  {% csrf_token %}
                {{ name_form.username }}
                 <input type="submit" value="Get cars" class="button"> 
            </form>
            {% endif %}

            {% if vehicle_choice_form %}
            <form action="/select_car/{{uuid}}/" method="POST">
                {{vehicle_choice_form.UserVehicle}}
                 <input type="submit" value="Choose Vehicle" class="button"> 
            </form>
            {% endif %}
        </div>                                    
    </body>
  </html>
